# Environment / secrets
.env
.env.*
docker-compose/.env
docker-compose/.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# DVC
# DVC will manage the ignore rules for tracked data below.
# We just need to ignore the local cache and remote storage.
.dvc/cache/
.dvc/tmp/
dvc-storage/

# ML artifacts
mlruns/
mlartifacts/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars

# IDE
.vscode/
.idea/
